[defaults]
inventory = inventory.yml
interpreter_python = auto_silent
retry_files_enabled = False

[ssh_connection]
password_mechanism = sshpass
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=6
