SITE_ID={{ site_id }}
BUILDING_ID={{ building_id }}
BACNET_BIND={{ bacnet_bind_address }}
# Local BACnet Device (supervisors read BV/AV on this instance)
BACNET_NAME={{ bacnet_device_name | default('OpenFDD') }}
BACNET_INSTANCE={{ bacnet_instance_id | default(599999) }}
DISCOVER_LOW={{ bacnet_discover_low | default(1) }}
DISCOVER_HIGH={{ bacnet_discover_high | default(4194303) }}
DISCOVER_TIMEOUT={{ bacnet_discover_timeout | default(20) }}
{% if bacnet_route_aware | default(false) | bool %}
ROUTER_IP={{ bacnet_router_ip }}
MSTP_NET={{ bacnet_mstp_net }}
BACNET_NETWORK={{ bacnet_network }}
{% endif %}
