# Ansible-managed: /etc/openfdd/bench.env
OFDD_DESKTOP_DATA_DIR={{ openfdd_state_dir }}
OFDD_MODEL_TTL_PATH={{ openfdd_state_dir }}/data_model.ttl
OFDD_MODEL_TTL_MIRROR_PATH={{ openfdd_state_dir }}/data_model.mirror.ttl
OFDD_TTL_SYNC_INTERVAL_SECONDS=5

OFDD_BRIDGE_HOST={{ openfdd_bridge_host }}
OFDD_BRIDGE_PORT={{ openfdd_bridge_port }}
OFDD_BRIDGE_URL=http://{{ bench_env_http_host }}:{{ openfdd_bridge_port }}
OFDD_UI_PUBLIC_BASE={{ ofdd_ui_public_base }}

OFDD_MCP_LISTEN_HOST={{ openfdd_mcp_host }}
OFDD_MCP_LISTEN_PORT={{ openfdd_mcp_port }}
OFDD_MCP_REST_BASE=http://{{ bench_env_http_host }}:{{ openfdd_mcp_port }}
OFDD_MCP_OFDD_API_URL=http://{{ bench_env_http_host }}:{{ openfdd_bridge_port }}
OFDD_MCP_ENABLE_ACTION_TOOLS=1
OFDD_MCP_OFDD_API_KEY={{ ofdd_mcp_ofdd_api_key }}

OFDD_BACNET_SERVER_API_KEY={{ bacnet_rpc_api_key }}

SUPERVISOR_HOST={{ easyaso_supervisor_host }}
SUPERVISOR_PORT={{ easyaso_supervisor_port }}
SUPERVISOR_DB_PATH={{ easyaso_state_dir }}/supervisor.sqlite
SUPERVISOR_API_KEY={{ supervisor_api_key }}
SUPERVISOR_BACNET_RPC_URL=http://127.0.0.1:{{ diy_bacnet_port }}
SUPERVISOR_BACNET_RPC_ENTRYPOINT=/api
SUPERVISOR_BACNET_RPC_BEARER={{ bacnet_rpc_api_key }}

BACNET_RPC_API_KEY={{ bacnet_rpc_api_key }}

VITE_DESKTOP_BRIDGE_BASE=/api/openfdd
